*{
    margin: 0;
    padding: 0%;
    
}

body{
    background-color: #283D3B;
    font-family: YuseiMagic-Regular;
    height:100%;
}

@font-face{
    font-family: "YuseiMagic-Regular";
    src : url("/YuseiMagic-Regular.ttf")
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
  background: #40635F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0px 4px 18px 0px black;
}

.inside_cv{
    display: flex
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.picture_of_me{
    width: 150px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

/* all the hovers */

.card:hover {
    transform : scale(1.2);
    transform: translate(0, 10px);
    transition: 1s;
}

.picture_of_me:hover{
    transform: scale(1);
    transition: 1.5s;
    transform: translate(0, 5px);
}

/*Titles and texts part*/ 
h1{
    text-align: center;
    color: black;
    letter-spacing: 1px;
    font-size: 26px;
    padding-bottom: 15px;
}

.p__motivations{
    text-align: center;
    padding-top: 10px;
}

 

