*{
    margin: 0;
    padding: 0%;
    
}

body{
    background-color: #283D3B;
    font-family: YuseiMagic-Regular;
    height:100%;
    overflow: hidden;
}

a:link{
    text-decoration: none;
    color:black;
}

@font-face{
    font-family: "YuseiMagic-Regular";
    src : url("/YuseiMagic-Regular.ttf")
}
/* index.html part */

.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #40635F;
}

.navbar li{
    padding: 1rem;
    border-right: 1px solid black;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn_connect{
    border-left: 1px solid black;
}

li:hover{
    transition: 1s;
    color: white;
    background-color: #282828;
}

.card{
  background: #40635F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0px 4px 18px 0px black;
  cursor:pointer;
}

.inside_cv{
    text-align: center;
}

.picture_of_me{
    width: 150px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0px 3px 10px #283D3B ;
}

/* all the hovers */

.card:hover h1{
    transform: translate(0, 5px);
    transition: 1s;
    transform:scale(1.1);
    text-decoration: underline;
}
.card:hover .picture_of_me{
    transform: translate(0, 10px);
    transition: 1s;
}

.card:hover{
    transform: scale(1.5);
    transition: 1s;         
    transform: translate(0, 10px);
}

/*Titles and texts part*/

h1{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 26px;
    padding-bottom: 15px;
    cursor: pointer;
}

.p__motivations{
    text-align: center;
    padding-top: 10px;
}

.text_cv{
    padding-top: 15px;
    font-size: 16px;
}

 /* index.html part */

/*cv.html part */

.container_cv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container_body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
    margin-bottom: 50px;
}

.left_part{
    display: flex;
    background-color: orange;
    height: 100vh;
    width: 20px;
}
/*cv.html part */







/*TEST*/

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #40635f 36%,#283d3b 86%);
    border-radius: 10px;
    box-shadow: inset 23px 17px 12px #40635f;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #18268d 14%,#c325d8 100%);
   }
   ::-webkit-scrollbar-track{
    background: #283d3b;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #40635F;
   }

.container_js{
    height: 80vh;
    width: 80%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    z-index:1000;
    overflow-x: scroll;
    
}
